.backdrop {
  overflow-y: scroll;
  z-index: 2;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;

  opacity: 1;

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);

  background: rgba(0, 0, 0, 0.8);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
  @media screen and (max-width: 768px) {
    transform: none;
    transform: scale(0.7);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
