.clients-list {
  display: flex;
  flex-wrap: wrap;
  // margin-bottom: 60px;
  margin: -15px;
  margin-bottom: 60px;
  @media screen and (max-width: 767px) {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .client-item {
    // flex-basis: 50%;

    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);

    @media screen and (min-width: 768px) {
      width: calc((100% - 6 * 15px) / 3);
    }
  }
}
.clients-title {
  margin-top: 0;
  padding-top: 60px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-clolr);
}
// .client-item:not(:last-child) {
//   margin-right: 30px;
// }
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: border, fill;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
