.hero-section {
  border-top: 1px solid #ececec;
  // max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../image/Header-img-1.jpg');
  // background-image: linear-gradient(
  //     to right,
  //     rgba(47, 48, 58, 0.4),
  //     rgba(47, 48, 58, 0.4)
  //   ),
  //   url(https://picsum.photos/1600);
  background-repeat: no-repeat;
  background-position: center;
}
.hero.container {
  width: 696px;
  width: 360px;
  padding: 0;
  .hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--primary-bg-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .hero-button {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    padding: 10px 32px;
    border-radius: 4px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */

    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;
    background-color: $accent-color;
    border-color: transparent;
  }
}
