.logo {
  // margin-right: 276px;
  // display: flex;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: normal;
  // font-size: 26px;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  @media screen and(min-width: 1600px) {
    font-size: 26px;
    line-height: 31px;
  }
  &.heder-logo {
    color: #000000;
    padding: 16px 0;
    margin-right: auto;

    @media screen and(min-width: 768px) {
      margin-left: 15px;
      margin-right: 88px;
    }
    @media screen and(min-width: 1600px) {
      margin-right: 93px;
      margin-left: 215px;
    }
  }
  &.footer-logo {
    color: #ffffff;
  }
  .logo-accent {
    color: $accent-color;
  }
}
