.team.section {
  background-color: #f5f4fa;
  padding: 60px 0px;
  /* outline: 1px solid coral; */
}
// .team.section img {
//   display: block;
// }
.team-set {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}
.team-position {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}
.team-section-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--title-text-clolr);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}
.team-name {
  margin-bottom: 10px;
  color: var(--title-text-clolr);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
// .team-flex {
//   display: flex;
// }
.team-set > li {
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
// .team-flex > li:not(:last-child) {
//   margin-right: 30px;
// }
.team-set img {
  margin-bottom: 30px;
}

.team-social {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}
.team-social > li:not(:last-child) {
  margin-right: 10px;
}
.social-icon {
  height: 20px;
  width: 20px;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50px;
  background-color: var(--primary-bg-color);
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:hover,
.social-item:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}
.team-section-title:hover {
  animation-name: animate__bounce;
}
